[run]
branch = True
disable_warnings = module-not-measured
source = src/bork
omit =
    */bork/__init__.py
    */bork/__main__.py
    */bork/_version.py
    */bork/fuse.py
    */bork/support/*
    */bork/testsuite/*
    */bork/hash_sizes.py

[report]
exclude_lines =
    pragma: no cover
    pragma: freebsd only
    pragma: unknown platform only
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
