# stuff we need to include into the sdist is handled automatically by
# setuptools_scm - it includes all git-committed files.
# but we want to exclude some committed files/dirs not needed in the sdist:
exclude .editorconfig .gitattributes .gitignore .mailmap Vagrantfile
prune .github
include src/bork/platform/darwin.c src/bork/platform/freebsd.c src/bork/platform/linux.c src/bork/platform/posix.c
include src/bork/platform/syncfilerange.c
include src/bork/platform/windows.c
